<div class="container">

	<div class="row">
		<div class="col-lg-12">
			<h1>Todo with Go and Angular.js</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4 col-offset-1 add-item-container">
			<form ng-submit="addItem(item)">
				<div class="input-group">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit">Add</button>
					</span>
					<input id="item-content" name="content" type="text" class="form-control" ng-model="item.content">
				</div>
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-11 col-offset-1">
			<ul class="item-list">
				<li ng-repeat="item in items">
					<input type="checkbox" name="item.done" ng-model="item.done" ng-click="item.put()">
					<span ng-class="'done-' + item.done">{{item.content}}</span>
					<a href="#" ng-click="removeItem(item)">[delete]</a>
				</li>
			</ul>
		</div>
	</div>
</div>